flows.json
[{"id":"68bcbbec.207834","type":"tab","label":"FRP","disabled":false,"info":""},{"id":"a6119c57.e032d","type":"ui_group","name":"Enter the values","tab":"589cb93.4e24c48","order":1,"disp":true,"width":10,"collapse":false},{"id":"589cb93.4e24c48","type":"ui_tab","name":"FRP inputs","icon":"dashboard","disabled":false,"hidden":false},{"id":"47ff12fc.05653c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bb5c841.84db178","type":"ui_form","z":"68bcbbec.207834","name":"","label":"","group":"a6119c57.e032d","order":6,"width":0,"height":0,"options":[{"label":"Dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Applicant Income","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"Coapplicant Income","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"Loan Amount","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Loan Term","value":"Loan_Term","type":"number","required":true,"rows":null}],"formValue":{"Dependents":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Term":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":200,"wires":[["e9e3cc89.5ffbc"]]},{"id":"5c61627f.73df3c","type":"ui_dropdown","z":"68bcbbec.207834","name":"Gender","label":"Gender","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"0","type":"str"},{"label":"Male","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":80,"wires":[["4630abe1.a9a6e4"]]},{"id":"e22ef56c.12ba58","type":"ui_dropdown","z":"68bcbbec.207834","name":"Married","label":"Married","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Married","value":"0","type":"str"},{"label":"Not married","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":140,"wires":[["eb77de3b.cce6a"]]},{"id":"d90380ce.bf8e","type":"ui_dropdown","z":"68bcbbec.207834","name":"Education","label":"Education","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Educated","value":"0","type":"str"},{"label":"Not educated","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":260,"wires":[["3c9cda7c.d4f696"]]},{"id":"b0046516.a215b8","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"8c1ac5ca.ae0ea8","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"c9f343ec.1206f","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"32641cef.e90bf4","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"a44054c0.0aac98","type":"ui_dropdown","z":"68bcbbec.207834","name":"Self_Employed","label":"Self Employed","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":200,"y":320,"wires":[["d2945010.03c44"]]},{"id":"26925d62.4629b2","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"f8e184f4.6eb708","type":"ui_dropdown","z":"68bcbbec.207834","name":"Credit_History_Available","label":"Credit History Available","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":230,"y":380,"wires":[["d6b74271.a8c72"]]},{"id":"a536b0f6.e4d61","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"2021b6fc.cd36ba","type":"ui_dropdown","z":"68bcbbec.207834","name":"Housing","label":"Housing","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":440,"wires":[["e3d3fdcf.fe072"]]},{"id":"5bb1fbbd.f1cc64","type":"ui_dropdown","z":"68bcbbec.207834","name":"Locality","label":"Locality","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":500,"wires":[["a719c525.53a658"]]},{"id":"6dc3afb.91b885","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"b09b21dc.3d013","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"4630abe1.a9a6e4","type":"function","z":"68bcbbec.207834","name":"global variable for gender","func":"global.set(\"Gender\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[["b0046516.a215b8"]]},{"id":"eb77de3b.cce6a","type":"function","z":"68bcbbec.207834","name":"global varibale for married","func":"global.set(\"Married\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["8c1ac5ca.ae0ea8"]]},{"id":"e9e3cc89.5ffbc","type":"function","z":"68bcbbec.207834","name":"global variables for form node","func":"global.set(\"Dependents\",msg.payload.Dependents)\nglobal.set(\"ApplicantIncome\",msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\",msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\",msg.payload.LoanAmount)\nglobal.set(\"Loan_Terms\",msg.payload.Loan_Term)\nvar apikey = \"-WKQGLAoSmS8dWzEI3mveSLv9O3s7jmY7WS_eVTIMauF\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":200,"wires":[["c9f343ec.1206f","7dbd0673.707c98"]]},{"id":"3c9cda7c.d4f696","type":"function","z":"68bcbbec.207834","name":"global variable for education","func":"global.set(\"Education\",msg.payload.Dependents)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["32641cef.e90bf4"]]},{"id":"d2945010.03c44","type":"function","z":"68bcbbec.207834","name":"global varibale for self employed ","func":"global.set(\"Self_Employed\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["26925d62.4629b2"]]},{"id":"d6b74271.a8c72","type":"function","z":"68bcbbec.207834","name":"global variable for credit history","func":"global.set(\"Credit_History_Available\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":380,"wires":[["a536b0f6.e4d61"]]},{"id":"e3d3fdcf.fe072","type":"function","z":"68bcbbec.207834","name":"global variable for housing","func":"global.set(\"Housing\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["6dc3afb.91b885"]]},{"id":"a719c525.53a658","type":"function","z":"68bcbbec.207834","name":"global variable for locality","func":"global.set(\"Locality\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["b09b21dc.3d013"]]},{"id":"7dbd0673.707c98","type":"http request","z":"68bcbbec.207834","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":160,"wires":[["ec567872.f274e8"]]},{"id":"b774b4db.e8c0c8","type":"debug","z":"68bcbbec.207834","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":240,"wires":[]},{"id":"728cff71.17c42","type":"function","z":"68bcbbec.207834","name":"","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\nvar token=global.get(\"token\")\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"Gender\",\"Married\",\"Dependents\",\"Education\",\"Self_Employed\",\"ApplicantIncome\",\"CoapplicantIncome\",\"LoanAmount\",\"Loan_Term\",\"Credit_History_Available\",\"Housing\",\"Locality\"],\"values\": [[Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":80,"wires":[["ccbe9612.c0c018"]]},{"id":"ccbe9612.c0c018","type":"http request","z":"68bcbbec.207834","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3e7fc820-3b44-493f-8494-155827b88736/predictions?version=2021-07-19","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":120,"wires":[["1987e150.52261f","16b2a5c7.afd9aa"]]},{"id":"1987e150.52261f","type":"debug","z":"68bcbbec.207834","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":160,"wires":[]},{"id":"ec567872.f274e8","type":"function","z":"68bcbbec.207834","name":"","func":"global.set(\"token\",msg.payload.access_token)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":200,"wires":[["b774b4db.e8c0c8","728cff71.17c42"]]},{"id":"16b2a5c7.afd9aa","type":"function","z":"68bcbbec.207834","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":100,"wires":[["754b271f.e9c488","7649d82b.ea8c48"]]},{"id":"754b271f.e9c488","type":"debug","z":"68bcbbec.207834","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":120,"wires":[]},{"id":"7649d82b.ea8c48","type":"ui_text","z":"68bcbbec.207834","group":"a6119c57.e032d","order":8,"width":0,"height":0,"name":"","label":"risk is ","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":60,"wires":[]}]